body {
	background-color: #3f96ab
}

.container {
	text-align: center;
	margin-top: 10%;
	display: none;
}

.title {
	width: 90%;
}

.continue {
	width: 80%;
}

.face-container {
	margin-top: 14%;
	text-align: center;
	display: none;
}

.face {
	width: 90%;
}

.back-container {
	margin-left: 2%;
	width: 35%;
}

.back {
	width: 40%;
}

